# Demo

This Jupyter notebook is a demo to show how to improve the postgreSQL species database of BIM and how to maintain it.

## Setup

Load functions and packages:

In [1]:
import os
import sqlalchemy as db
import logging
import gbif_match
import vernacular_names
import exotic_status
import populate_scientificname_annex
from helpers import execute_sql_from_file, get_database_connection, get_config, setup_log_file

Define location of log file:

In [2]:
LOG_FILE_PATH = "./logs/transform_db.log"
setup_log_file(LOG_FILE_PATH)

We connect to (the copy of) the BIM database:

In [3]:
conn = get_database_connection()

Get access to the configuration details (server adress, demo mode, etc.) stored in config file `config.ini`:

In [4]:
config = get_config()

Is demo mode active?

In [5]:
demo = config.getboolean('demo_mode', 'demo')
demo

True

Define annex file location and its demo version containing a small but significant subset of annex names:

In [6]:
__location__ = os.path.realpath(os.path.join(os.getcwd(), os.path.abspath('')))
# Full file with all names in official annexes
ANNEX_FILE_PATH = os.path.join(__location__, "../data/raw/official_annexes.csv")
# Annex demo version
ANNEX_FILE_PATH_DEMO = os.path.join(__location__, "../data/raw/official_annexes_demo.csv")

Finally, define a SQLAlchemy connection to show changes of the database in this demo:

In [7]:
user = config.get('database', 'user')
pwd = config.get('database', 'password')
host = config.get('database', 'host')
port = config.get('database', 'port')
dbname = config.get('database', 'dbname')
db_conn = f'postgresql://{user}:{pwd}@{host}:{port}/{dbname}'
db.create_engine(db_conn)

Engine(postgresql://postgres:***@localhost:5433/postgres)

In [8]:

%load_ext sql
%sql $db_conn

'Connected: postgres@postgres'

## Create the new tables

Create the following tables:

1. `scientificname`: table with scientific names
2. `taxonomy`: taxonomy backbone of all scientific names. Table entirely populated with information from GBIF Backbone
3. `scientificnameannex`: all names (scientific names or expressions) contained in official annexes
4. `vernacularname`: vernacular names of all taxa in `taxonomy`. Table entirely populated with information from GBIF

In [9]:
message = "Step 2: create the new tables"
print(message)
logging.info(message)
execute_sql_from_file(conn, 'create_new_tables.sql')

Step 2: create the new tables

These tables can be dropped and recreated if errors occurr in any of the following steps.

## Populate the scientificname table based on the actual content

We populate the `scientificname` table with taxa in `taxon`. From `taxon` we select the fields:
1. `id`
2. `acceptedname`
3. `scientificnameauthorship`

and we store them as:
1. `deprecatedTaxonId`
2. `scientificName`
3. `authorship`

We select only the taxa in use, i.e. taxa which are used in any of the linked tables.

In [10]:
message = "Step 3: populate the scientificname table based on the actual content"
print(message)
logging.info(message)
execute_sql_from_file(conn, 'populate_scientificname.sql',
                      {'limit': config.get('transform_db', 'scientificnames-limit')})

Step 3: populate the scientificname table based on the actual content

Preview scientificname table:

In [11]:
%sql SELECT * FROM biodiv.scientificname LIMIT 10

 * postgresql://postgres:***@localhost:5433/postgres
10 rows affected.

[(1, None, 40758, 'Elachista', None, None, None, None),
 (2, None, 1, 'Godronia cassandrae vaccinii', 'J.W. Groves', None, None, None),
 (3, None, 2, 'Phoma acuta phlogis', '(Roum.) Boerema et al., 1994', None, None, None),
 (4, None, 3, 'Puccinia sessilis convallariae-digraphidis', 'Boerema & Hamers, 1988', None, None, None),
 (5, None, 4, 'Puccinia sessilis narcissi-orchidacearum', 'Boerema & Kesteren, 1980', None, None, None),
 (6, None, 5, 'Aecidium rumicis form. acetosae', 'Oudem.', None, None, None),
 (7, None, 6, 'Amanita excelsa form. excelsa', None, None, None, None),
 (8, None, 7, 'Amanita excelsa form. spissa', '(Fr.)', None, None, None),
 (9, None, 8, 'Amanita rubescens form. annulosulfurea', '(Gillet) J.E. Lange', None, None, None),
 (10, None, 9, 'Amanita rubescens form. rubescens', None, None, None, None)]

Number of names in `scientificname`table:

In [12]:
%sql SELECT COUNT(*) from biodiv.scientificname

 * postgresql://postgres:***@localhost:5433/postgres
1 rows affected.

[(13935,)]

## Populate the scientificnameannex table based on official annexes

Similarly to previous step, we populate the scientificnameannex table with all names (scientific names or expresssions)
in official annexes, [`official_annexes.csv`](https://github.com/inbo/speciesbim/blob/master/data/raw/official_annexes.csv).
Some cleaning correcting typos or simplyfing taxa where possible is performed.

In this demo we use a small but significant subset, [`official_annexes_demo.csv`](https://github.com/inbo/speciesbim/blob/master/data/raw/official_annexes_demo.csv).

In [13]:
message = "Step 4: populate the scientificnameannex table based on official annexes"
print(message)
logging.info(message)
if not demo:
    populate_scientificname_annex.populate_scientificname_annex(conn, config_parser=config,
                                                                annex_file=ANNEX_FILE_PATH)
else:
    populate_scientificname_annex.populate_scientificname_annex(conn, config_parser=config,
                                                                annex_file=ANNEX_FILE_PATH_DEMO)

Step 4: populate the scientificnameannex table based on official annexes
Columns in C:\Users\damiano_oldoni\Documents\INBO\repositories\speciesbim\notebooks\../data/raw/official_annexes_demo.csv: annex_code, scientific_name_original, scientific_name_corrected, page_number, remarks
Number of taxa listed in official annexes and ordinances: 14
Total number of taxa inserted in scientificnameannex: 14
Table scientificnameannex populated in 1s.

Preview `scientificnameannex` table:

In [14]:
%sql SELECT * FROM biodiv.scientificnameannex

 * postgresql://postgres:***@localhost:5433/postgres
14 rows affected.

[(1, None, 'Falco peregrinus', 'Falco peregrinus', '', 'BXL-ORD-2012_Annex II.1', None, None, None),
 (2, None, 'Aconitum corsicum Gayer (Aconitum napellus subsp. corsicum)', 'Aconitum napellus subsp. corsicum', 'Removed Aconitum corsicum Gayer, synonym of Aconitum napellus subsp. corsicum', 'BXL-ORD-2012_Annex II.2', None, None, None),
 (3, None, 'Valeriana repens', '', 'Multiple authorships: Valeriana repens Wall. (synonym of Valeriana hardwickei Wall.) and Valeriana repens Host (synonym of Valeriana excelsa subsp. excelsa)', 'BXL-ORD-2012_Annex II.3', None, None, None),
 (4, None, 'Martes Martes', 'Martes martes', 'decapitalized specific epithet', 'BXL-ORD-2012_Annex II.4', None, None, None),
 (5, None, 'Leuciscus microlepis', 'Squalius microlepis', 'Changed to its related accepted taxon within Squalius genus. Leuciscus microlepis Bleeker, 1853 is a proparte synonym and classified in two different genera on GBIF, but the other accepted taxon is very unlikely to be true: Amblypharyngodon microlepis (Bleeker, 1853)', 'BXL-ORD-2012_Annex II.5', None, None, None),
 (6, None, 'Sus scofra', 'Sus scrofa', 'scofra to scrofa', 'BXL-ORD-2012_Annex III', None, None, None),
 (7, None, 'Rana (Pelophylax) ridibunda', 'Rana ridibunda', 'removed (Pelophylax)', 'BXL-ORD-2012_Annex IV', None, None, None),
 (8, None, 'Fallopia japonica', 'Fallopia japonica', '', 'BXL-ORD-2012_Annex IV', None, None, None),
 (9, None, 'Pulsatilla grandis Wend. (Pulsatilla vulgaris subsp. grandis (Wend.) Zamels', 'Pulsatilla grandis Wender.', 'removed Pulsatilla vulgaris subsp. grandis (Wend.) Zamels, synonym of Pulsatilla grandis subsp. grandis', 'EUR-CON-BER_Annex I', None, None, None),
 (10, None, 'Coluber rubriceps (Coluber najadum rubriceps)', 'Coluber rubriceps', 'since 8 March 2018 | removed (Coluber najadum rubriceps) both synonyms of Coluber najadum rubriceps', 'EUR-CON-BER_Annex II', None, None, None),
 (11, None, 'Calidris pygmaea', 'Calidris pygmea', 'removed a', 'UN-CON-BON-Annex I', None, None, None),
 (12, None, 'Rhinolophidae spp.', 'Rhinolophidae', '', 'UN-CON-BON-Annex II', None, None, None),
 (13, None, 'Salmo salar (only in fresh water) (except the Finnish populations)', 'Salmo salar', 'removed (only in fresh water) (except the Finnish populations)', 'EUR-DIR-HAB_Annex II', None, None, None),
 (14, None, 'Canis lupus (except the Greek populations north of the 39th parallel; Estonian populations, Spanish populations north of the Duero; Bulgarian, Latvia ... (52 characters truncated) ... h populations within the reindeer management area as defined in paragraph 2 of the Finnish Act No 848/90 of 14 September 1990 on reindeer management)', 'Canis lupus', 'removed (except the Greek populations north of the 39th parallel; Estonian populations, Spanish populations north of the Duero; Bulgarian, Latvian, L ... (48 characters truncated) ... h populations within the reindeer management area as defined in paragraph 2 of the Finnish Act No 848/90 of 14 September 1990 on reindeer management)', 'EUR-DIR-HAB_Annex IV', None, None, None)]

## Populate `taxonomy` table with matches to GBIF Backbone and corresponding backbone tree

In this step all scientific names in `scientificname` table are evaluated against the [_GBIF Backbone Taxonomy_](https://www.gbif.org/dataset/d7dddbf4-2cf0-4f39-9b2a-bb099caae36c) or simply _GBIF Backbone_.
If a match occurs, the taxon and its related tree is added to `taxonomy`. In case of synonyms, their corresponding accepted taxa are added as well.

In this demo, we will focus on a small subset of names:
- _Amanita excelsa form. excelsa_: no matchc to GBIF Backbone will be found
- _Rana ridibunda_: synonym of _Pelophylax ridibundus_
- _Fallopia japonica_: exotic and synonym of _Reynoutria japonica_
- _Fallopia_: accepted genus

In [15]:
message = "Step 5: populate taxonomy table with matches to GBIF Backbone and related backbone tree " +\
          "and update scientificname table"
print(message)
logging.info(message)
gbif_match.gbif_match(conn, config_parser=config, unmatched_only=False)

Step 5: populate taxonomy table with matches to GBIF Backbone and related backbone tree and update scientificname table
Number of taxa in scientificname table: 4 (demo mode)
Match names (scientificName + authorship) to GBIF Backbone (demo mode)
Timestamp used for this (whole) match process: 2020-09-02 16:58:42.760000
Try matching the "Rana ridibunda Pallas, 1771" name...
Recursively adding the taxon with GBIF key 2426662 (Rana ridibunda Pallas, 1771) to the taxonomy table
According to GBIF, this is *not* a root taxon, we'll insert parents first
    Recursively adding the taxon with GBIF key 2426629 (Pelophylax Fitzinger, 1843) to the taxonomy table
    According to GBIF, this is *not* a root taxon, we'll insert parents first
        Recursively adding the taxon with GBIF key 6746 (Ranidae) to the taxonomy table
        According to GBIF, this is *not* a root taxon, we'll insert parents first
            Recursively adding the taxon with GBIF key 952 (Anura) to the taxonomy table
            According to GBIF, this is *not* a root taxon, we'll insert parents first
                Recursively adding the taxon with GBIF key 131 (Amphibia) to the taxonomy table
                According to GBIF, this is *not* a root taxon, we'll insert parents first
                    Recursively adding the taxon with GBIF key 44 (Chordata) to the taxonomy table
                    According to GBIF, this is *not* a root taxon, we'll insert parents first
                        Recursively adding the taxon with GBIF key 1 (Animalia) to the taxonomy table
                        According to GBIF, this is a root taxon (no more parents to insert)
                        According to GBIF, this is *not* a synonym (no accepted taxon to insert)
                        Taxon Animalia inserted in taxonomy (id = 1, parentId = None).
                    According to GBIF, this is *not* a synonym (no accepted taxon to insert)
                    Taxon Chordata inserted in taxonomy (id = 2, parentId = 1).
                According to GBIF, this is *not* a synonym (no accepted taxon to insert)
                Taxon Amphibia inserted in taxonomy (id = 3, parentId = 2).
            According to GBIF, this is *not* a synonym (no accepted taxon to insert)
            Taxon Anura inserted in taxonomy (id = 4, parentId = 3).
        According to GBIF, this is *not* a synonym (no accepted taxon to insert)
        Taxon Ranidae inserted in taxonomy (id = 5, parentId = 4).
    According to GBIF, this is *not* a synonym (no accepted taxon to insert)
    Taxon Pelophylax Fitzinger, 1843 inserted in taxonomy (id = 6, parentId = 5).
According to GBIF, this is a synonym. We'll insert accepted taxon first
    Recursively adding the taxon with GBIF key 2426661 (Pelophylax ridibundus (Pallas, 1771)) to the taxonomy table
    According to GBIF, this is *not* a root taxon, we'll insert parents first
        Recursively adding the taxon with GBIF key 2426629 (Pelophylax Fitzinger, 1843) to the taxonomy table
        This taxon already appears in the taxonomy table
        Taxon Pelophylax Fitzinger, 1843 already present in taxonomy (id = 6).
    According to GBIF, this is *not* a synonym (no accepted taxon to insert)
    Taxon Pelophylax ridibundus (Pallas, 1771) inserted in taxonomy (id = 7, parentId = 6).
Taxon Rana ridibunda Pallas, 1771 inserted in taxonomy (id = 8, parentId = 6, acceptedId = 7).
Add match information (and taxonomiyId, if a match was found) to scientificname for Rana ridibunda Pallas, 1771 (id: 582).
Try matching the "Fallopia japonica (Houtt.) Ronse Decr." name...
Recursively adding the taxon with GBIF key 5334357 (Fallopia japonica (Houtt.) Ronse Decraene) to the taxonomy table
According to GBIF, this is *not* a root taxon, we'll insert parents first
    Recursively adding the taxon with GBIF key 8420120 (Reynoutria Houtt.) to the taxonomy table
    According to GBIF, this is *not* a root taxon, we'll insert parents first
        Recursively adding the taxon with GBIF key 2416 (Polygonaceae) to the taxonomy table
        According to GBIF, this is *not* a root taxon, we'll insert parents first
            Recursively adding the taxon with GBIF key 422 (Caryophyllales) to the taxonomy table
            According to GBIF, this is *not* a root taxon, we'll insert parents first
                Recursively adding the taxon with GBIF key 220 (Magnoliopsida) to the taxonomy table
                According to GBIF, this is *not* a root taxon, we'll insert parents first
                    Recursively adding the taxon with GBIF key 7707728 (Tracheophyta) to the taxonomy table
                    According to GBIF, this is *not* a root taxon, we'll insert parents first
                        Recursively adding the taxon with GBIF key 6 (Plantae) to the taxonomy table
                        According to GBIF, this is a root taxon (no more parents to insert)
                        According to GBIF, this is *not* a synonym (no accepted taxon to insert)
                        Taxon Plantae inserted in taxonomy (id = 9, parentId = None).
                    According to GBIF, this is *not* a synonym (no accepted taxon to insert)
                    Taxon Tracheophyta inserted in taxonomy (id = 10, parentId = 9).
                According to GBIF, this is *not* a synonym (no accepted taxon to insert)
                Taxon Magnoliopsida inserted in taxonomy (id = 11, parentId = 10).
            According to GBIF, this is *not* a synonym (no accepted taxon to insert)
            Taxon Caryophyllales inserted in taxonomy (id = 12, parentId = 11).
        According to GBIF, this is *not* a synonym (no accepted taxon to insert)
        Taxon Polygonaceae inserted in taxonomy (id = 13, parentId = 12).
    According to GBIF, this is *not* a synonym (no accepted taxon to insert)
    Taxon Reynoutria Houtt. inserted in taxonomy (id = 14, parentId = 13).
According to GBIF, this is a synonym. We'll insert accepted taxon first
    Recursively adding the taxon with GBIF key 2889173 (Reynoutria japonica Houtt.) to the taxonomy table
    According to GBIF, this is *not* a root taxon, we'll insert parents first
        Recursively adding the taxon with GBIF key 8420120 (Reynoutria Houtt.) to the taxonomy table
        This taxon already appears in the taxonomy table
        Taxon Reynoutria Houtt. already present in taxonomy (id = 14).
    According to GBIF, this is *not* a synonym (no accepted taxon to insert)
    Taxon Reynoutria japonica Houtt. inserted in taxonomy (id = 15, parentId = 14).
Taxon Fallopia japonica (Houtt.) Ronse Decraene inserted in taxonomy (id = 16, parentId = 14, acceptedId = 15).
Add match information (and taxonomiyId, if a match was found) to scientificname for Fallopia japonica (Houtt.) Ronse Decr. (id: 5640).
Try matching the "Mellitiosporium pteridium (W. Phillips & Buckn.) Sacc." name...
No match found for Mellitiosporium pteridium (W. Phillips & Buckn.) Sacc. (id: 9166).
Add match information (and taxonomiyId, if a match was found) to scientificname for Mellitiosporium pteridium (W. Phillips & Buckn.) Sacc. (id: 9166).
Try matching the "Fallopia Adans." name...
Recursively adding the taxon with GBIF key 2889418 (Fallopia Adans.) to the taxonomy table
According to GBIF, this is *not* a root taxon, we'll insert parents first
    Recursively adding the taxon with GBIF key 2416 (Polygonaceae) to the taxonomy table
    This taxon already appears in the taxonomy table
    Taxon Polygonaceae already present in taxonomy (id = 13).
According to GBIF, this is *not* a synonym (no accepted taxon to insert)
Taxon Fallopia Adans. inserted in taxonomy (id = 17, parentId = 13).
Add match information (and taxonomiyId, if a match was found) to scientificname for Fallopia Adans. (id: 11687).
Number of matched names: 3/4 (75.00%).
Total number of insertions in the taxonomy table: 17
Match to GBIF Backbone performed in 14s.

In [16]:
%sql SELECT * FROM biodiv.taxonomy

 * postgresql://postgres:***@localhost:5433/postgres
17 rows affected.

[(1, 1, 'Animalia', 7, None, None, None),
 (2, 44, 'Chordata', 6, None, 1, None),
 (3, 131, 'Amphibia', 5, None, 2, None),
 (4, 952, 'Anura', 4, None, 3, None),
 (5, 6746, 'Ranidae', 3, None, 4, None),
 (6, 2426629, 'Pelophylax Fitzinger, 1843', 2, None, 5, None),
 (7, 2426661, 'Pelophylax ridibundus (Pallas, 1771)', 1, None, 6, None),
 (8, 2426662, 'Rana ridibunda Pallas, 1771', 1, 7, 6, None),
 (9, 6, 'Plantae', 7, None, None, None),
 (10, 7707728, 'Tracheophyta', 6, None, 9, None),
 (11, 220, 'Magnoliopsida', 5, None, 10, None),
 (12, 422, 'Caryophyllales', 4, None, 11, None),
 (13, 2416, 'Polygonaceae', 3, None, 12, None),
 (14, 8420120, 'Reynoutria Houtt.', 2, None, 13, None),
 (15, 2889173, 'Reynoutria japonica Houtt.', 1, None, 14, None),
 (16, 5334357, 'Fallopia japonica (Houtt.) Ronse Decraene', 1, 15, 14, None),
 (17, 2889418, 'Fallopia Adans.', 2, None, 13, None)]

Information about the match is added in `scientificname` table:

In [17]:
%%sql 
SELECT * FROM biodiv.scientificname 
WHERE "scientificName" IN (
'Amanita excelsa form. excelsa', -- no matchc to GBIF Backbone
    'Rana ridibunda', -- Synonym of Pelophylax ridibundus
    'Fallopia japonica', -- Exotic and synonym of Reynoutria japonica
    'Fallopia' -- accepted genus
)

 * postgresql://postgres:***@localhost:5433/postgres
4 rows affected.

[(7, None, 6, 'Amanita excelsa form. excelsa', None, None, None, None),
 (582, 8, 1331, 'Rana ridibunda', 'Pallas, 1771', datetime.datetime(2020, 9, 2, 16, 58, 42, 760000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 100, 'EXACT'),
 (5640, 16, 21322, 'Fallopia japonica', '(Houtt.) Ronse Decr.', datetime.datetime(2020, 9, 2, 16, 58, 42, 760000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 100, 'EXACT'),
 (11687, 17, 39199, 'Fallopia', 'Adans.', datetime.datetime(2020, 9, 2, 16, 58, 42, 760000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 100, 'EXACT')]

Everytime existing names are improved or added, this step can be repeated using `unmatched_only=True`. However, we suggest to udpate the entire table (`unmatched_only=False`) at least every year in order to get taxonomic updates from the GBIF Backbone.

This step populates also the table `rank`:

In [ ]:
%sql SELECT * FROM biodiv.rank

## Vernacular names

We retrieve all vernacular names of all taxa in `taxonomy` table for a selected number of langauges: French, Dutch and
English. The names are stored in table `vernacularnames`.

In [18]:
message = "Step 6: populate vernacular names from GBIF for each entry in the taxonomy table"
print(message)
logging.info(message)
# list of 2-letters language codes (ISO 639-1)
languages = ['fr', 'nl', 'en']
vernacular_names.populate_vernacular_names(conn, config_parser=config, empty_only=False, filter_lang=languages)

Step 6: populate vernacular names from GBIF for each entry in the taxonomy table
We'll now load vernacular names for 17 entries in the taxonomy table. Languages: fr, nl, en
Now saving 'Animals'(en) for taxon with ID: 1 (source: Phthiraptera.info)
Now saving 'animals'(en) for taxon with ID: 1 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'animaux'(fr) for taxon with ID: 1 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'dieren'(nl) for taxon with ID: 1 (source: Belgian Species List)
Now saving 'animals'(en) for taxon with ID: 1 (source: World Register of Marine Species)
Now saving 'animals'(en) for taxon with ID: 1 (source: World Register of Introduced Marine Species (WRiMS))
Now saving 'animaux'(fr) for taxon with ID: 1 (source: World Register of Marine Species)
Now saving 'animaux'(fr) for taxon with ID: 1 (source: World Register of Introduced Marine Species (WRiMS))
Now saving 'dieren'(nl) for taxon with ID: 1 (source: World Register of Marine Species)
Now saving 'dieren'(nl) for taxon with ID: 1 (source: World Register of Introduced Marine Species (WRiMS))
Now saving 'chordates'(en) for taxon with ID: 2 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'cords'(fr) for taxon with ID: 2 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'chordadieren'(nl) for taxon with ID: 2 (source: World Register of Marine Species)
Now saving 'chordadieren'(nl) for taxon with ID: 2 (source: World Register of Introduced Marine Species (WRiMS))
Now saving 'Amphibians'(en) for taxon with ID: 3 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'amfibien'(nl) for taxon with ID: 3 (source: Belgian Species List)
Now saving 'amphibiens'(fr) for taxon with ID: 3 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'amphibians'(en) for taxon with ID: 3 (source: World Register of Marine Species)
Now saving 'Frogs'(en) for taxon with ID: 4 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'Toads'(en) for taxon with ID: 4 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'crapauds'(fr) for taxon with ID: 4 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'frog'(en) for taxon with ID: 4 (source: The Paleobiology Database)
Now saving 'frog'(en) for taxon with ID: 4 (source: The Paleobiology Database)
Now saving 'grenouilles'(fr) for taxon with ID: 4 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'frogs'(en) for taxon with ID: 4 (source: World Register of Marine Species)
Now saving 'kikkers'(nl) for taxon with ID: 4 (source: World Register of Marine Species)
Now saving 'Ranid Frogs'(en) for taxon with ID: 5 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'Ranids'(en) for taxon with ID: 5 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'Riparian Frogs'(en) for taxon with ID: 5 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'True Frogs'(en) for taxon with ID: 5 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'echte kikkers'(nl) for taxon with ID: 5 (source: Belgian Species List)
Now saving 'Grenouille rieuse'(fr) for taxon with ID: 7 (source: Invasive Alien Species in Belgium - HARMONIA database)
Now saving 'Marsh frog'(en) for taxon with ID: 7 (source: Invasive Alien Species in Belgium - HARMONIA database)
Now saving 'Meerkikker, Grote groene kikker'(nl) for taxon with ID: 7 (source: Invasive Alien Species in Belgium - HARMONIA database)
Now saving 'Meerkikker'(nl) for taxon with ID: 7 (source: Checklist Dutch Species Register - Nederlands Soortenregister)
Now saving 'Grote groene kikker'(nl) for taxon with ID: 7 (source: Checklist Dutch Species Register - Nederlands Soortenregister)
Now saving 'Grenouille rieuse'(fr) for taxon with ID: 8 (source: EUNIS Biodiversity Database)
Now saving 'Lake frog'(en) for taxon with ID: 8 (source: EUNIS Biodiversity Database)
Now saving 'grenouille rieuse'(fr) for taxon with ID: 8 (source: Belgian Species List)
Now saving 'marsh frog'(en) for taxon with ID: 8 (source: Belgian Species List)
Now saving 'meerkikker, grote groene kikker'(nl) for taxon with ID: 8 (source: Belgian Species List)
Now saving 'planten'(nl) for taxon with ID: 9 (source: Belgian Species List)
Now saving 'plantes'(fr) for taxon with ID: 9 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'plants'(en) for taxon with ID: 9 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'planten'(nl) for taxon with ID: 9 (source: World Register of Marine Species)
Now saving 'planten'(nl) for taxon with ID: 9 (source: World Register of Introduced Marine Species (WRiMS))
Now saving 'plants'(en) for taxon with ID: 9 (source: World Register of Marine Species)
Now saving 'plants'(en) for taxon with ID: 9 (source: World Register of Introduced Marine Species (WRiMS))
Now saving 'tracheophytes'(en) for taxon with ID: 10 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'vaatplanten'(nl) for taxon with ID: 10 (source: Belgian Species List)
Now saving 'vascular plants'(en) for taxon with ID: 10 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'vaatplanten'(nl) for taxon with ID: 10 (source: World Register of Marine Species)
Now saving 'vaatplanten'(nl) for taxon with ID: 10 (source: World Register of Introduced Marine Species (WRiMS))
Now saving 'vascular plants'(en) for taxon with ID: 10 (source: World Register of Marine Species)
Now saving 'vascular plants'(en) for taxon with ID: 10 (source: World Register of Introduced Marine Species (WRiMS))
Now saving 'buckwheat'(en) for taxon with ID: 13 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'duizendknoopfamilie'(nl) for taxon with ID: 13 (source: Belgian Species List)
Now saving 'knotweed'(en) for taxon with ID: 13 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'renoues'(fr) for taxon with ID: 13 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'Polygonaces'(fr) for taxon with ID: 13 (source: Database of Vascular Plants of Canada (VASCAN))
Now saving 'buckwheat family'(en) for taxon with ID: 13 (source: Database of Vascular Plants of Canada (VASCAN))
Now saving 'duizendknoopfamilie'(nl) for taxon with ID: 13 (source: World Register of Marine Species)
Now saving 'knotweed'(en) for taxon with ID: 14 (source: GRIN Taxonomy)
Now saving 'Japanese knotweed'(en) for taxon with ID: 15 (source: GRIN Taxonomy)
Now saving 'Mexican-bamboo'(en) for taxon with ID: 15 (source: GRIN Taxonomy)
Now saving 'Japanese knotweed'(en) for taxon with ID: 15 (source: Database of Vascular Plants of Canada (VASCAN))
Now saving 'renoue du Japon'(fr) for taxon with ID: 15 (source: Database of Vascular Plants of Canada (VASCAN))
Now saving 'Mexican bamboo'(en) for taxon with ID: 15 (source: Database of Vascular Plants of Canada (VASCAN))
Now saving 'fleeceflower'(en) for taxon with ID: 15 (source: Database of Vascular Plants of Canada (VASCAN))
Now saving 'Japanese knotweed'(en) for taxon with ID: 16 (source: Invasive Alien Species in Belgium - HARMONIA database)
Now saving 'Japanese knotweed'(en) for taxon with ID: 16 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'Japanese knotweed'(en) for taxon with ID: 16 (source: DAISIE - Inventory of alien invasive species in Europe)
Now saving 'Japanse duizendknoop'(nl) for taxon with ID: 16 (source: DAISIE - Inventory of alien invasive species in Europe)
Now saving 'Japanse duizendknoop'(nl) for taxon with ID: 16 (source: Invasive Alien Species in Belgium - HARMONIA database)
Now saving 'Renoue du Japon'(fr) for taxon with ID: 16 (source: DAISIE - Inventory of alien invasive species in Europe)
Now saving 'Renoue du japon'(fr) for taxon with ID: 16 (source: Invasive Alien Species in Belgium - HARMONIA database)
Now saving 'japanese bindweed'(en) for taxon with ID: 16 (source: Belgian Species List)
Now saving 'japanse duizendknoop'(nl) for taxon with ID: 16 (source: Belgian Species List)
Now saving 'renoue du japon'(fr) for taxon with ID: 16 (source: Belgian Species List)
Now saving 'Japanse duizendknoop'(nl) for taxon with ID: 16 (source: Checklist Dutch Species Register - Nederlands Soortenregister)
Now saving 'Japanese knotweed'(en) for taxon with ID: 16 (source: World Register of Marine Species)

Now saving 'false-buckwheat'(en) for taxon with ID: 17 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'false-buckwheat'(en) for taxon with ID: 17 (source: Database of Vascular Plants of Canada (VASCAN))
Done loading 83 (for 17 taxa) vernacular names in 12s.

Show table `vernacularnames`:

In [19]:
%sql SELECT * FROM biodiv.vernacularname

 * postgresql://postgres:***@localhost:5433/postgres
83 rows affected.

[(1, 1, 'en', 'Animals', 'Phthiraptera.info'),
 (2, 1, 'en', 'animals', 'Integrated Taxonomic Information System (ITIS)'),
 (3, 1, 'fr', 'animaux', 'Integrated Taxonomic Information System (ITIS)'),
 (4, 1, 'nl', 'dieren', 'Belgian Species List'),
 (5, 1, 'en', 'animals', 'World Register of Marine Species'),
 (6, 1, 'en', 'animals', 'World Register of Introduced Marine Species (WRiMS)'),
 (7, 1, 'fr', 'animaux', 'World Register of Marine Species'),
 (8, 1, 'fr', 'animaux', 'World Register of Introduced Marine Species (WRiMS)'),
 (9, 1, 'nl', 'dieren', 'World Register of Marine Species'),
 (10, 1, 'nl', 'dieren', 'World Register of Introduced Marine Species (WRiMS)'),
 (11, 2, 'en', 'chordates', 'Integrated Taxonomic Information System (ITIS)'),
 (12, 2, 'fr', 'cords', 'Integrated Taxonomic Information System (ITIS)'),
 (13, 2, 'nl', 'chordadieren', 'World Register of Marine Species'),
 (14, 2, 'nl', 'chordadieren', 'World Register of Introduced Marine Species (WRiMS)'),
 (15, 3, 'en', 'Amphibians', 'Integrated Taxonomic Information System (ITIS)'),
 (16, 3, 'nl', 'amfibien', 'Belgian Species List'),
 (17, 3, 'fr', 'amphibiens', 'Integrated Taxonomic Information System (ITIS)'),
 (18, 3, 'en', 'amphibians', 'World Register of Marine Species'),
 (19, 4, 'en', 'Frogs', 'Integrated Taxonomic Information System (ITIS)'),
 (20, 4, 'en', 'Toads', 'Integrated Taxonomic Information System (ITIS)'),
 (21, 4, 'fr', 'crapauds', 'Integrated Taxonomic Information System (ITIS)'),
 (22, 4, 'en', 'frog', 'The Paleobiology Database'),
 (23, 4, 'en', 'frog', 'The Paleobiology Database'),
 (24, 4, 'fr', 'grenouilles', 'Integrated Taxonomic Information System (ITIS)'),
 (25, 4, 'en', 'frogs', 'World Register of Marine Species'),
 (26, 4, 'nl', 'kikkers', 'World Register of Marine Species'),
 (27, 5, 'en', 'Ranid Frogs', 'Integrated Taxonomic Information System (ITIS)'),
 (28, 5, 'en', 'Ranids', 'Integrated Taxonomic Information System (ITIS)'),
 (29, 5, 'en', 'Riparian Frogs', 'Integrated Taxonomic Information System (ITIS)'),
 (30, 5, 'en', 'True Frogs', 'Integrated Taxonomic Information System (ITIS)'),
 (31, 5, 'nl', 'echte kikkers', 'Belgian Species List'),
 (32, 7, 'fr', 'Grenouille rieuse', 'Invasive Alien Species in Belgium - HARMONIA database'),
 (33, 7, 'en', 'Marsh frog', 'Invasive Alien Species in Belgium - HARMONIA database'),
 (34, 7, 'nl', 'Meerkikker, Grote groene kikker', 'Invasive Alien Species in Belgium - HARMONIA database'),
 (35, 7, 'nl', 'Meerkikker', 'Checklist Dutch Species Register - Nederlands Soortenregister'),
 (36, 7, 'nl', 'Grote groene kikker', 'Checklist Dutch Species Register - Nederlands Soortenregister'),
 (37, 8, 'fr', 'Grenouille rieuse', 'EUNIS Biodiversity Database'),
 (38, 8, 'en', 'Lake frog', 'EUNIS Biodiversity Database'),
 (39, 8, 'fr', 'grenouille rieuse', 'Belgian Species List'),
 (40, 8, 'en', 'marsh frog', 'Belgian Species List'),
 (41, 8, 'nl', 'meerkikker, grote groene kikker', 'Belgian Species List'),
 (42, 9, 'nl', 'planten', 'Belgian Species List'),
 (43, 9, 'fr', 'plantes', 'Integrated Taxonomic Information System (ITIS)'),
 (44, 9, 'en', 'plants', 'Integrated Taxonomic Information System (ITIS)'),
 (45, 9, 'nl', 'planten', 'World Register of Marine Species'),
 (46, 9, 'nl', 'planten', 'World Register of Introduced Marine Species (WRiMS)'),
 (47, 9, 'en', 'plants', 'World Register of Marine Species'),
 (48, 9, 'en', 'plants', 'World Register of Introduced Marine Species (WRiMS)'),
 (49, 10, 'en', 'tracheophytes', 'Integrated Taxonomic Information System (ITIS)'),
 (50, 10, 'nl', 'vaatplanten', 'Belgian Species List'),
 (51, 10, 'en', 'vascular plants', 'Integrated Taxonomic Information System (ITIS)'),
 (52, 10, 'nl', 'vaatplanten', 'World Register of Marine Species'),
 (53, 10, 'nl', 'vaatplanten', 'World Register of Introduced Marine Species (WRiMS)'),
 (54, 10, 'en', 'vascular plants', 'World Register of Marine Species'),
 (55, 10, 'en', 'vascular plants', 'World Register of Introduced Marine Species (WRiMS)'),
 (56, 13, 'en', 'buckwheat', 'Integrated Taxonomic Information System (ITIS)'),
 (57, 13, 'nl', 'duizendknoopfamilie', 'Belgian Species List'),
 (58, 13, 'en', 'knotweed', 'Integrated Taxonomic Information System (ITIS)'),
 (59, 13, 'fr', 'renoues', 'Integrated Taxonomic Information System (ITIS)'),
 (60, 13, 'fr', 'Polygonaces', 'Database of Vascular Plants of Canada (VASCAN)'),
 (61, 13, 'en', 'buckwheat family', 'Database of Vascular Plants of Canada (VASCAN)'),
 (62, 13, 'nl', 'duizendknoopfamilie', 'World Register of Marine Species'),
 (63, 14, 'en', 'knotweed', 'GRIN Taxonomy'),
 (64, 15, 'en', 'Japanese knotweed', 'GRIN Taxonomy'),
 (65, 15, 'en', 'Mexican-bamboo', 'GRIN Taxonomy'),
 (66, 15, 'en', 'Japanese knotweed', 'Database of Vascular Plants of Canada (VASCAN)'),
 (67, 15, 'fr', 'renoue du Japon', 'Database of Vascular Plants of Canada (VASCAN)'),
 (68, 15, 'en', 'Mexican bamboo', 'Database of Vascular Plants of Canada (VASCAN)'),
 (69, 15, 'en', 'fleeceflower', 'Database of Vascular Plants of Canada (VASCAN)'),
 (70, 16, 'en', 'Japanese knotweed', 'Invasive Alien Species in Belgium - HARMONIA database'),
 (71, 16, 'en', 'Japanese knotweed', 'Integrated Taxonomic Information System (ITIS)'),
 (72, 16, 'en', 'Japanese knotweed', 'DAISIE - Inventory of alien invasive species in Europe'),
 (73, 16, 'nl', 'Japanse duizendknoop', 'DAISIE - Inventory of alien invasive species in Europe'),
 (74, 16, 'nl', 'Japanse duizendknoop', 'Invasive Alien Species in Belgium - HARMONIA database'),
 (75, 16, 'fr', 'Renoue du Japon', 'DAISIE - Inventory of alien invasive species in Europe'),
 (76, 16, 'fr', 'Renoue du japon', 'Invasive Alien Species in Belgium - HARMONIA database'),
 (77, 16, 'en', 'japanese bindweed', 'Belgian Species List'),
 (78, 16, 'nl', 'japanse duizendknoop', 'Belgian Species List'),
 (79, 16, 'fr', 'renoue du japon', 'Belgian Species List'),
 (80, 16, 'nl', 'Japanse duizendknoop', 'Checklist Dutch Species Register - Nederlands Soortenregister'),
 (81, 16, 'en', 'Japanese knotweed', 'World Register of Marine Species'),
 (82, 17, 'en', 'false-buckwheat', 'Integrated Taxonomic Information System (ITIS)'),
 (83, 17, 'en', 'false-buckwheat', 'Database of Vascular Plants of Canada (VASCAN)')]

As for the previous step, we reccommend to update this table using `empty_only=True` everytime new names are added or improved.

## Add exotic status of taxa in `taxonomy`

The exotic status (`True` or `False`) for all taxa in `taxonomy` is filled by consulting the GBIF checklist
[_Global Register of Introduced and Invasive Species - Belgium_](https://www.gbif.org/dataset/6d9e952f-948c-4483-9807-575348147c7e).

In [20]:
message = "Step 7: populate field exotic_be (values: True of False) from GRIIS checklist for each entry in " \
          "taxonomy table "
print(message)
logging.info(message)
# GBIF datasetKey of checklist: Global Register of Introduced and Invasive Species - Belgium
griis_be = "6d9e952f-948c-4483-9807-575348147c7e"
exotic_status.populate_is_exotic_be_field(conn, config_parser=config, exotic_status_source=griis_be)

Step 7: populate field exotic_be (values: True of False) from GRIIS checklist for each entry in taxonomy table
We'll now retrieve the GBIF checklist containing the exotic taxa in Belgium, datasetKey: 6d9e952f-948c-4483-9807-575348147c7e.
Retrieved 2891 exotic taxa in 55s.
We'll now update exotic_be field for 17 taxa of the taxonomy table.
Taxon Pelophylax ridibundus (Pallas, 1771) (gbifId: 2426661) is exotic in Belgium.
    Taxon Rana ridibunda Pallas, 1771 (gbifId: 2426662) is exotic in Belgium.
Taxon Reynoutria japonica Houtt. (gbifId: 2889173) is exotic in Belgium.
    Taxon Fallopia japonica (Houtt.) Ronse Decraene (gbifId: 5334357) is exotic in Belgium.
4 exotic taxa found in taxonomy.
Field exotic_be updated for 17 taxa in taxonomy in 0.05s.

Exotic taxa:

In [21]:
%sql SELECT * FROM biodiv.taxonomy WHERE exotic_be IS TRUE

 * postgresql://postgres:***@localhost:5433/postgres
4 rows affected.

[(7, 2426661, 'Pelophylax ridibundus (Pallas, 1771)', 1, None, 6, True),
 (8, 2426662, 'Rana ridibunda Pallas, 1771', 1, 7, 6, True),
 (15, 2889173, 'Reynoutria japonica Houtt.', 1, None, 14, True),
 (16, 5334357, 'Fallopia japonica (Houtt.) Ronse Decraene', 1, 15, 14, True)]

This step should be repeated everytime `taxonomy` table changes.