# Demo

This Jupyter Notebook demonstrates the changes to the BIM species database and how the taxonomic information can be maintained.

## Setup

Load functions and packages:

In [193]:
import os
import sys
module_path = os.path.abspath(os.path.join('../scripts'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [194]:
import sqlalchemy as db
import logging
import gbif_match
import vernacular_names
import exotic_status
import populate_annex_scientificname
from helpers import execute_sql_from_file, get_database_connection, get_config, setup_log_file

Define location of log file:

In [195]:
LOG_FILE_PATH = "./logs/transform_db.log"
setup_log_file(LOG_FILE_PATH)

Connect to (a copy of) the BIM database:

In [196]:
conn = get_database_connection()

Get access to the configuration details (server address, demo mode, etc.) stored in config file `config.ini`:

In [197]:
config = get_config()

Is demo mode active?

In [198]:
demo = config.getboolean('demo_mode', 'demo')
demo

True

Define annex file location and its demo version containing a small but significant subset of annex names:

In [199]:
__location__ = os.path.realpath(os.path.join(os.getcwd(), os.path.abspath('')))
# Full file with all names in official annexes
ANNEX_FILE_PATH = os.path.join(__location__, "../data/raw/official_annexes.csv")
# Annex demo version
ANNEX_FILE_PATH_DEMO = os.path.join(__location__, "../data/raw/official_annexes_demo.csv")

Define dataset key of the [_Global Register of Introduced and Invasive Species - Belgium_](https://www.gbif.org/dataset/6d9e952f-948c-4483-9807-575348147c7e):

In [200]:
GRIIS_DATASET_UUID = "6d9e952f-948c-4483-9807-575348147c7e"

Finally, define a SQLAlchemy connection to show changes of the database in this demo:

In [201]:
user = config.get('database', 'user')
pwd = config.get('database', 'password')
host = config.get('database', 'host')
port = config.get('database', 'port')
dbname = config.get('database', 'dbname')
db_conn = f'postgresql://{user}:{pwd}@{host}:{port}/{dbname}'
db.create_engine(db_conn)

Engine(postgresql://postgres:***@localhost:5433/postgres)

In [202]:
%load_ext sql
%sql $db_conn

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: postgres@postgres'

## Create the new tables

Create the following tables:

1. `scientificname`: table with scientific names
2. `taxonomy`: taxonomy backbone of all scientific names. Table entirely populated with information from GBIF Backbone
3. `rank`: taxon ranks used in `taxonomy` 
4. `annexscientificname`: all names (scientific names or expressions) contained in official annexes
5. `vernacularname`: vernacular names of all taxa in `taxonomy`. Table entirely populated with information from GBIF
6. `vernacularnamesource`: title and datasetKey of the datasets containing the vernacular names in `vernacularname`

In [203]:
message = "Step 1: create the new tables"
print(message)
logging.info(message)
execute_sql_from_file(conn, 'create_new_tables.sql')

Step 1: create the new tables

These tables can be dropped and recreated if errors occur in any of the following steps. See step 0 in main migration script [`transform_db.py`](https://github.com/inbo/speciesbim/blob/annexscientificname/scripts/transform_db.py).

## Populate the `scientificname` table based on the actual content

We populate the `scientificname` table with taxa in `taxon`. From `taxon` we select the fields:
1. `id`
2. `acceptedname`
3. `scientificnameauthorship`

and we store them as:
1. `deprecatedTaxonId`
2. `scientificName`
3. `authorship`

We select only the taxa in use, i.e. taxa which are used in any of the linked tables.

In [204]:
message = "Step 2: populate the scientificname table based on the actual content"
print(message)
logging.info(message)
execute_sql_from_file(conn, 'populate_scientificname.sql',
                      {'limit': config.get('transform_db', 'scientificnames-limit')})

Step 2: populate the scientificname table based on the actual content

Preview `scientificname` table:

In [205]:
%sql SELECT * FROM biodiv.scientificname LIMIT 10

 * postgresql://postgres:***@localhost:5433/postgres
10 rows affected.

[(1, None, 40758, 'Elachista', None, None, None, None),
 (2, None, 1, 'Godronia cassandrae vaccinii', 'J.W. Groves', None, None, None),
 (3, None, 2, 'Phoma acuta phlogis', '(Roum.) Boerema et al., 1994', None, None, None),
 (4, None, 3, 'Puccinia sessilis convallariae-digraphidis', 'Boerema & Hamers, 1988', None, None, None),
 (5, None, 4, 'Puccinia sessilis narcissi-orchidacearum', 'Boerema & Kesteren, 1980', None, None, None),
 (6, None, 5, 'Aecidium rumicis form. acetosae', 'Oudem.', None, None, None),
 (7, None, 6, 'Amanita excelsa form. excelsa', None, None, None, None),
 (8, None, 7, 'Amanita excelsa form. spissa', '(Fr.)', None, None, None),
 (9, None, 8, 'Amanita rubescens form. annulosulfurea', '(Gillet) J.E. Lange', None, None, None),
 (10, None, 9, 'Amanita rubescens form. rubescens', None, None, None, None)]

Number of names in `scientificname`table:

In [206]:
%sql SELECT COUNT(*) from biodiv.scientificname

 * postgresql://postgres:***@localhost:5433/postgres
1 rows affected.

[(6000,)]

## Populate the `scientificnameannex` table based on official annexes

Similarly to previous step, we populate the `scientificnameannex` table with all names (scientific names or expresssions) listed in official annexes. These are stored in an external file: [`official_annexes.csv`](https://github.com/inbo/speciesbim/blob/master/data/raw/official_annexes.csv). Where possible, some type correcting or simplifying taxa was performed.

In this demo we use a small but significant subset of these names: [`official_annexes_demo.csv`](https://github.com/inbo/speciesbim/blob/master/data/raw/official_annexes_demo.csv).

In [207]:
message = "Step 3: populate the scientificnameannex table based on official annexes"
print(message)
logging.info(message)
if not demo:
    populate_annex_scientificname.populate_annex_scientificname(conn, config_parser=config,
                                                                annex_file=ANNEX_FILE_PATH)
else:
    populate_annex_scientificname.populate_annex_scientificname(conn, config_parser=config,
                                                                annex_file=ANNEX_FILE_PATH_DEMO)

Step 3: populate the scientificnameannex table based on official annexes
Columns in C:\Users\damiano_oldoni\Documents\INBO\repositories\speciesbim\notebooks\../data/raw/official_annexes_demo.csv: annex_code, scientific_name_original, scientific_name_corrected, authorship, page_number, remarks
Number of taxa listed in official annexes and ordinances: 15

Total number of taxa inserted in annexscientificname: 15
Table annexscientificname populated in 1s.

Preview `scientificnameannex` table:

In [208]:
%sql SELECT * FROM biodiv.annexscientificname

 * postgresql://postgres:***@localhost:5433/postgres
15 rows affected.

[(1, None, 'Falco peregrinus', 'Falco peregrinus', '', '', 'BXL-ORD-2012_Annex II.1'),
 (2, None, 'Aconitum corsicum Gayer (Aconitum napellus subsp. corsicum)', 'Aconitum napellus subsp. corsicum', '', 'Removed Aconitum corsicum Gayer, synonym of Aconitum napellus subsp. corsicum', 'BXL-ORD-2012_Annex II.2'),
 (3, None, 'Culcita macrocarpa C. Presl', 'Culcita macrocarpa', 'C. Presl', ' authorship present', 'BXL-ORD-2012_Annex II.2'),
 (4, None, 'Valeriana repens', '', '', 'Multiple authorships: Valeriana repens Wall. (synonym of Valeriana hardwickei Wall.) and Valeriana repens Host (synonym of Valeriana excelsa subsp. excelsa)', 'BXL-ORD-2012_Annex II.3'),
 (5, None, 'Martes Martes', 'Martes martes', '', 'decapitalized specific epithet', 'BXL-ORD-2012_Annex II.4'),
 (6, None, 'Leuciscus microlepis', 'Squalius microlepis', '', 'Changed to its related accepted taxon within Squalius genus. Leuciscus microlepis Bleeker, 1853 is a proparte synonym and classified in two different genera on GBIF, but the other accepted taxon is very unlikely to be true: Amblypharyngodon microlepis (Bleeker, 1853)', 'BXL-ORD-2012_Annex II.5'),
 (7, None, 'Sus scofra', 'Sus scrofa', '', 'scofra to scrofa', 'BXL-ORD-2012_Annex III'),
 (8, None, 'Rana (Pelophylax) ridibunda', 'Rana ridibunda', '', 'removed (Pelophylax)', 'BXL-ORD-2012_Annex IV'),
 (9, None, 'Fallopia japonica', 'Fallopia japonica', '', '', 'BXL-ORD-2012_Annex IV'),
 (10, None, 'Pulsatilla grandis Wend. (Pulsatilla vulgaris subsp. grandis (Wend.) Zamels', 'Pulsatilla grandis', 'Wender.', 'removed Pulsatilla vulgaris subsp. grandis (Wend.) Zamels, synonym of Pulsatilla grandis subsp. grandis', 'EUR-CON-BER_Annex I'),
 (11, None, 'Coluber rubriceps (Coluber najadum rubriceps)', 'Coluber rubriceps', '', 'since 8 March 2018 | removed (Coluber najadum rubriceps) both synonyms of Coluber najadum rubriceps', 'EUR-CON-BER_Annex II'),
 (12, None, 'Calidris pygmaea', 'Calidris pygmea', '', 'removed a', 'UN-CON-BON-Annex I'),
 (13, None, 'Rhinolophidae spp.', 'Rhinolophidae', '', 'removed spp.', 'UN-CON-BON-Annex II'),
 (14, None, 'Salmo salar (only in fresh water) (except the Finnish populations)', 'Salmo salar', '', 'removed (only in fresh water) (except the Finnish populations)', 'EUR-DIR-HAB_Annex II'),
 (15, None, 'Canis lupus (except the Greek populations north of the 39th parallel; Estonian populations, Spanish populations north of the Duero; Bulgarian, Latvia ... (52 characters truncated) ... h populations within the reindeer management area as defined in paragraph 2 of the Finnish Act No 848/90 of 14 September 1990 on reindeer management)', 'Canis lupus', '', 'removed (except the Greek populations north of the 39th parallel; Estonian populations, Spanish populations north of the Duero; Bulgarian, Latvian, L ... (48 characters truncated) ... h populations within the reindeer management area as defined in paragraph 2 of the Finnish Act No 848/90 of 14 September 1990 on reindeer management)', 'EUR-DIR-HAB_Annex IV')]

## Populate `taxonomy` table with matches to GBIF Backbone and corresponding backbone tree

In this step all scientific names in `scientificname` table are evaluated against the [_GBIF Backbone Taxonomy_](https://www.gbif.org/dataset/d7dddbf4-2cf0-4f39-9b2a-bb099caae36c) or simply _GBIF Backbone_.
If a match occurs, the taxon and its related tree is added to `taxonomy`. In case of a synonym, the corresponding accepted taxon is added as well.

In this demo, we will focus on a small subset of names:
- _Elachista_: no match to GBIF Backbone will be found
- _Triturus alpestris Laurenti, 1768_: synonym of _Ichthyosaura alpestris (Laurenti, 1768)_
- _Fallopia japonica_: exotic and synonym of _Reynoutria japonica_
- _Trentepholia_: accepted genus

In [209]:
message = "Step 4: populate taxonomy table with matches to GBIF Backbone and related backbone tree " +\
          "and update scientificname table"
print(message)
logging.info(message)
gbif_match.gbif_match(conn, config_parser=config, unmatched_only=False)

Step 4: populate taxonomy table with matches to GBIF Backbone and related backbone tree and update scientificname table
Number of taxa in scientificname table: 4 (demo mode)
Match names (scientificName + authorship) to GBIF Backbone (demo mode)
Timestamp used for this (whole) match process: 2020-10-06 22:32:13.516000
Try matching the "Elachista" name...
No match found for Elachista (id: 1).
Add match information (and taxonomiyId, if a match was found) to scientificname for Elachista (id: 1).
Try matching the "Trentepholia" name...
Recursively adding the taxon with GBIF key 9792230 (Trentepholia (Mongoma)) to the taxonomy table
According to GBIF, this is *not* a root taxon, we'll insert parents first
    Recursively adding the taxon with GBIF key 7634 (Tipulidae) to the taxonomy table
    According to GBIF, this is *not* a root taxon, we'll insert parents first
        Recursively adding the taxon with GBIF key 811 (Diptera) to the taxonomy table
        According to GBIF, this is *not* a root taxon, we'll insert parents first
            Recursively adding the taxon with GBIF key 216 (Insecta) to the taxonomy table
            According to GBIF, this is *not* a root taxon, we'll insert parents first
                Recursively adding the taxon with GBIF key 54 (Arthropoda) to the taxonomy table
                According to GBIF, this is *not* a root taxon, we'll insert parents first
                    Recursively adding the taxon with GBIF key 1 (Animalia) to the taxonomy table
                    According to GBIF, this is a root taxon (no more parents to insert)
                    According to GBIF, this is *not* a synonym (no accepted taxon to insert)
                    Taxon Animalia inserted in taxonomy (id = 1, parentId = None).
                According to GBIF, this is *not* a synonym (no accepted taxon to insert)
                Taxon Arthropoda inserted in taxonomy (id = 2, parentId = 1).
            According to GBIF, this is *not* a synonym (no accepted taxon to insert)
            Taxon Insecta inserted in taxonomy (id = 3, parentId = 2).
        According to GBIF, this is *not* a synonym (no accepted taxon to insert)
        Taxon Diptera inserted in taxonomy (id = 4, parentId = 3).
    According to GBIF, this is *not* a synonym (no accepted taxon to insert)
    Taxon Tipulidae inserted in taxonomy (id = 5, parentId = 4).
According to GBIF, this is *not* a synonym (no accepted taxon to insert)
Taxon Trentepholia (Mongoma) inserted in taxonomy (id = 6, parentId = 5).
Add match information (and taxonomiyId, if a match was found) to scientificname for Trentepholia (id: 24).
Try matching the "Triturus alpestris Laurenti, 1768" name...
Recursively adding the taxon with GBIF key 2431785 (Triturus alpestris (Laurenti, 1768)) to the taxonomy table
According to GBIF, this is *not* a root taxon, we'll insert parents first
    Recursively adding the taxon with GBIF key 2431782 (Ichthyosaura Latreille, 1801) to the taxonomy table
    According to GBIF, this is *not* a root taxon, we'll insert parents first
        Recursively adding the taxon with GBIF key 6750 (Salamandridae) to the taxonomy table
        According to GBIF, this is *not* a root taxon, we'll insert parents first
            Recursively adding the taxon with GBIF key 953 (Caudata) to the taxonomy table
            According to GBIF, this is *not* a root taxon, we'll insert parents first
                Recursively adding the taxon with GBIF key 131 (Amphibia) to the taxonomy table
                According to GBIF, this is *not* a root taxon, we'll insert parents first
                    Recursively adding the taxon with GBIF key 44 (Chordata) to the taxonomy table
                    According to GBIF, this is *not* a root taxon, we'll insert parents first
                        Recursively adding the taxon with GBIF key 1 (Animalia) to the taxonomy table
                        This taxon already appears in the taxonomy table
                        Taxon Animalia already present in taxonomy (id = 1).
                    According to GBIF, this is *not* a synonym (no accepted taxon to insert)
                    Taxon Chordata inserted in taxonomy (id = 7, parentId = 1).
                According to GBIF, this is *not* a synonym (no accepted taxon to insert)
                Taxon Amphibia inserted in taxonomy (id = 8, parentId = 7).
            According to GBIF, this is *not* a synonym (no accepted taxon to insert)
            Taxon Caudata inserted in taxonomy (id = 9, parentId = 8).
        According to GBIF, this is *not* a synonym (no accepted taxon to insert)
        Taxon Salamandridae inserted in taxonomy (id = 10, parentId = 9).
    According to GBIF, this is *not* a synonym (no accepted taxon to insert)
    Taxon Ichthyosaura Latreille, 1801 inserted in taxonomy (id = 11, parentId = 10).
According to GBIF, this is a synonym. We'll insert accepted taxon first
    Recursively adding the taxon with GBIF key 2431783 (Ichthyosaura alpestris (Laurenti, 1768)) to the taxonomy table
    According to GBIF, this is *not* a root taxon, we'll insert parents first
        Recursively adding the taxon with GBIF key 2431782 (Ichthyosaura Latreille, 1801) to the taxonomy table
        This taxon already appears in the taxonomy table
        Taxon Ichthyosaura Latreille, 1801 already present in taxonomy (id = 11).
    According to GBIF, this is *not* a synonym (no accepted taxon to insert)
    Taxon Ichthyosaura alpestris (Laurenti, 1768) inserted in taxonomy (id = 12, parentId = 11).
Taxon Triturus alpestris (Laurenti, 1768) inserted in taxonomy (id = 13, parentId = 11, acceptedId = 12).
Add match information (and taxonomiyId, if a match was found) to scientificname for Triturus alpestris Laurenti, 1768 (id: 95).
Try matching the "Fallopia japonica (Houtt.) Ronse Decr." name...
Recursively adding the taxon with GBIF key 5334357 (Fallopia japonica (Houtt.) Ronse Decraene) to the taxonomy table
According to GBIF, this is *not* a root taxon, we'll insert parents first
    Recursively adding the taxon with GBIF key 8420120 (Reynoutria Houtt.) to the taxonomy table
    According to GBIF, this is *not* a root taxon, we'll insert parents first
        Recursively adding the taxon with GBIF key 2416 (Polygonaceae) to the taxonomy table
        According to GBIF, this is *not* a root taxon, we'll insert parents first
            Recursively adding the taxon with GBIF key 422 (Caryophyllales) to the taxonomy table
            According to GBIF, this is *not* a root taxon, we'll insert parents first
                Recursively adding the taxon with GBIF key 220 (Magnoliopsida) to the taxonomy table
                According to GBIF, this is *not* a root taxon, we'll insert parents first
                    Recursively adding the taxon with GBIF key 7707728 (Tracheophyta) to the taxonomy table
                    According to GBIF, this is *not* a root taxon, we'll insert parents first
                        Recursively adding the taxon with GBIF key 6 (Plantae) to the taxonomy table
                        According to GBIF, this is a root taxon (no more parents to insert)
                        According to GBIF, this is *not* a synonym (no accepted taxon to insert)
                        Taxon Plantae inserted in taxonomy (id = 14, parentId = None).
                    According to GBIF, this is *not* a synonym (no accepted taxon to insert)
                    Taxon Tracheophyta inserted in taxonomy (id = 15, parentId = 14).
                According to GBIF, this is *not* a synonym (no accepted taxon to insert)
                Taxon Magnoliopsida inserted in taxonomy (id = 16, parentId = 15).
            According to GBIF, this is *not* a synonym (no accepted taxon to insert)
            Taxon Caryophyllales inserted in taxonomy (id = 17, parentId = 16).
        According to GBIF, this is *not* a synonym (no accepted taxon to insert)
        Taxon Polygonaceae inserted in taxonomy (id = 18, parentId = 17).
    According to GBIF, this is *not* a synonym (no accepted taxon to insert)
    Taxon Reynoutria Houtt. inserted in taxonomy (id = 19, parentId = 18).
According to GBIF, this is a synonym. We'll insert accepted taxon first

    Recursively adding the taxon with GBIF key 2889173 (Reynoutria japonica Houtt.) to the taxonomy table
    According to GBIF, this is *not* a root taxon, we'll insert parents first
        Recursively adding the taxon with GBIF key 8420120 (Reynoutria Houtt.) to the taxonomy table
        This taxon already appears in the taxonomy table
        Taxon Reynoutria Houtt. already present in taxonomy (id = 19).
    According to GBIF, this is *not* a synonym (no accepted taxon to insert)
    Taxon Reynoutria japonica Houtt. inserted in taxonomy (id = 20, parentId = 19).
Taxon Fallopia japonica (Houtt.) Ronse Decraene inserted in taxonomy (id = 21, parentId = 19, acceptedId = 20).
Add match information (and taxonomiyId, if a match was found) to scientificname for Fallopia japonica (Houtt.) Ronse Decr. (id: 3355).
Number of matched names: 3/4 (75.00%).
Total number of insertions in the taxonomy table: 64
Match to GBIF Backbone performed in 13s.

In [210]:
%sql SELECT * FROM biodiv.taxonomy

 * postgresql://postgres:***@localhost:5433/postgres
21 rows affected.

[(1, 1, 'Animalia', 6, None, None, None),
 (2, 54, 'Arthropoda', 5, None, 1, None),
 (3, 216, 'Insecta', 4, None, 2, None),
 (4, 811, 'Diptera', 3, None, 3, None),
 (5, 7634, 'Tipulidae', 2, None, 4, None),
 (6, 9792230, 'Trentepholia (Mongoma)', 1, None, 5, None),
 (7, 44, 'Chordata', 5, None, 1, None),
 (8, 131, 'Amphibia', 4, None, 7, None),
 (9, 953, 'Caudata', 3, None, 8, None),
 (10, 6750, 'Salamandridae', 2, None, 9, None),
 (11, 2431782, 'Ichthyosaura Latreille, 1801', 1, None, 10, None),
 (12, 2431783, 'Ichthyosaura alpestris (Laurenti, 1768)', 7, None, 11, None),
 (13, 2431785, 'Triturus alpestris (Laurenti, 1768)', 7, 12, 11, None),
 (14, 6, 'Plantae', 6, None, None, None),
 (15, 7707728, 'Tracheophyta', 5, None, 14, None),
 (16, 220, 'Magnoliopsida', 4, None, 15, None),
 (17, 422, 'Caryophyllales', 3, None, 16, None),
 (18, 2416, 'Polygonaceae', 2, None, 17, None),
 (19, 8420120, 'Reynoutria Houtt.', 1, None, 18, None),
 (20, 2889173, 'Reynoutria japonica Houtt.', 7, None, 19, None),
 (21, 5334357, 'Fallopia japonica (Houtt.) Ronse Decraene', 7, 20, 19, None)]

When there is a match, the `taxonomyId` is populated in `scientificname` to make a connection between the two tables.

In [211]:
%%sql 
SELECT * FROM biodiv.scientificname 
WHERE "scientificName" IN (
    'Elachista', -- no match to GBIF Backbone will be found
    'Triturus alpestris', -- synonym of Ichthyosaura alpestris
    'Fallopia japonica', -- exotic and synonym of Reynoutria japonica
    'Trentepholia' -- accepted genus
)

 * postgresql://postgres:***@localhost:5433/postgres
4 rows affected.

[(24, 6, 40884, 'Trentepholia', None, datetime.datetime(2020, 10, 6, 22, 32, 13, 516000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 94, 'EXACT'),
 (1, None, 40758, 'Elachista', None, datetime.datetime(2020, 10, 6, 22, 32, 13, 516000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 99, 'NONE'),
 (95, 13, 1333, 'Triturus alpestris', 'Laurenti, 1768', datetime.datetime(2020, 10, 6, 22, 32, 13, 516000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 99, 'EXACT'),
 (3355, 21, 21322, 'Fallopia japonica', '(Houtt.) Ronse Decr.', datetime.datetime(2020, 10, 6, 22, 32, 13, 516000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 100, 'EXACT')]

Everytime existing names are improved or added, this step can be repeated using the parameter `unmatched_only=True` in `gbif_match()`. However, we suggest to update the entire table (`unmatched_only=False`) at least every year in order to update the table with taxonomic changes from the GBIF Backbone.

This step populates also the table `rank`:

In [212]:
%sql SELECT * FROM biodiv.rank

 * postgresql://postgres:***@localhost:5433/postgres
7 rows affected.

[(1, 'GENUS'),
 (2, 'FAMILY'),
 (3, 'ORDER'),
 (4, 'CLASS'),
 (5, 'PHYLUM'),
 (6, 'KINGDOM'),
 (7, 'SPECIES')]

## Vernacular names

In this step we lookup all vernacular names recorded at GBIF for all taxa in `taxonomy`. This is done for the languages French, Dutch and English and stored in the table `vernacularnames` and its auxiliary table `vernacularnamesource`.

In [213]:
message = "Step 5: populate vernacular names from GBIF for each entry in the taxonomy table"
print(message)
logging.info(message)
# list of 2-letters language codes (ISO 639-1)
languages = ['fr', 'nl', 'en']
vernacular_names.populate_vernacular_names(conn, config_parser=config, empty_only=False, filter_lang=languages)

Step 5: populate vernacular names from GBIF for each entry in the taxonomy table
We'll now load vernacular names for 21 entries in the taxonomy table. Languages: fr, nl, en
Now saving 'Animals'(en) for taxon with ID: 1 (source: Phthiraptera.info)
Now saving 'animals'(en) for taxon with ID: 1 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'animaux'(fr) for taxon with ID: 1 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'dieren'(nl) for taxon with ID: 1 (source: Belgian Species List)
Now saving 'animals'(en) for taxon with ID: 1 (source: World Register of Introduced Marine Species (WRiMS))
Now saving 'animals'(en) for taxon with ID: 1 (source: World Register of Marine Species)
Now saving 'animaux'(fr) for taxon with ID: 1 (source: World Register of Introduced Marine Species (WRiMS))
Now saving 'animaux'(fr) for taxon with ID: 1 (source: World Register of Marine Species)
Now saving 'dieren'(nl) for taxon with ID: 1 (source: World Register of Marine Species)
Now saving 'dieren'(nl) for taxon with ID: 1 (source: World Register of Introduced Marine Species (WRiMS))
Now saving 'Arthropods'(en) for taxon with ID: 2 (source: Phthiraptera.info)
Now saving 'arthropod'(en) for taxon with ID: 2 (source: The Paleobiology Database)
Now saving 'arthropodes'(fr) for taxon with ID: 2 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'arthropods'(en) for taxon with ID: 2 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'geleedpotigen'(nl) for taxon with ID: 2 (source: Belgian Species List)
Now saving 'arthropods'(en) for taxon with ID: 2 (source: World Register of Introduced Marine Species (WRiMS))
Now saving 'arthropods'(en) for taxon with ID: 2 (source: World Register of Marine Species)
Now saving 'geleedpotigen'(nl) for taxon with ID: 2 (source: World Register of Introduced Marine Species (WRiMS))
Now saving 'geleedpotigen'(nl) for taxon with ID: 2 (source: World Register of Marine Species)
Now saving 'Insects'(en) for taxon with ID: 3 (source: Phthiraptera.info)
Now saving 'insect'(en) for taxon with ID: 3 (source: The Paleobiology Database)
Now saving 'insect'(en) for taxon with ID: 3 (source: The Paleobiology Database)
Now saving 'insecten'(nl) for taxon with ID: 3 (source: Belgian Species List)
Now saving 'insectes'(fr) for taxon with ID: 3 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'insects'(en) for taxon with ID: 3 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'insecten'(nl) for taxon with ID: 3 (source: World Register of Introduced Marine Species (WRiMS))
Now saving 'insecten'(nl) for taxon with ID: 3 (source: World Register of Marine Species)
Now saving 'insectes'(fr) for taxon with ID: 3 (source: World Register of Introduced Marine Species (WRiMS))
Now saving 'insectes'(fr) for taxon with ID: 3 (source: World Register of Marine Species)
Now saving 'insects'(en) for taxon with ID: 3 (source: World Register of Marine Species)
Now saving 'insects'(en) for taxon with ID: 3 (source: World Register of Introduced Marine Species (WRiMS))
Now saving 'fly'(en) for taxon with ID: 4 (source: The Paleobiology Database)
Now saving 'gnats'(en) for taxon with ID: 4 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'mosquitoes'(en) for taxon with ID: 4 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'true flies'(en) for taxon with ID: 4 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'vliegen en muggen'(nl) for taxon with ID: 4 (source: Belgian Species List)
Now saving 'diptères'(fr) for taxon with ID: 4 (source: World Register of Introduced Marine Species (WRiMS))
Now saving 'diptères'(fr) for taxon with ID: 4 (source: World Register of Marine Species)
Now saving 'tweevleugeligen'(nl) for taxon with ID: 4 (source: World Register of Marine Species)
Now saving 'tweevleugeligen'(nl) for taxon with ID: 4 (source: World Register of Introduced Marine Species (WRiMS))
Now saving 'two-winged flies'(en) for taxon with ID: 4 (source: World Register of Introduced Marine Species (WRiMS))
Now saving 'two-winged flies'(en) for taxon with ID: 4 (source: World Register of Marine Species)
Now saving 'crane fly'(en) for taxon with ID: 5 (source: The Paleobiology Database)
Now saving 'langpootmuggen'(nl) for taxon with ID: 5 (source: Belgian Species List)
Now saving 'tipules'(fr) for taxon with ID: 5 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'crane-flies'(en) for taxon with ID: 5 (source: World Register of Marine Species)
Now saving 'langpootmuggen'(nl) for taxon with ID: 5 (source: World Register of Marine Species)
Now saving 'chordates'(en) for taxon with ID: 7 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'cordés'(fr) for taxon with ID: 7 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'chordadieren'(nl) for taxon with ID: 7 (source: World Register of Marine Species)
Now saving 'chordadieren'(nl) for taxon with ID: 7 (source: World Register of Introduced Marine Species (WRiMS))
Now saving 'Amphibians'(en) for taxon with ID: 8 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'amfibieën'(nl) for taxon with ID: 8 (source: Belgian Species List)
Now saving 'amphibiens'(fr) for taxon with ID: 8 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'amphibians'(en) for taxon with ID: 8 (source: World Register of Marine Species)
Now saving 'Salamanders'(en) for taxon with ID: 9 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'salamander'(en) for taxon with ID: 9 (source: The Paleobiology Database)
Now saving 'salamander'(en) for taxon with ID: 9 (source: The Paleobiology Database)
Now saving 'salamandres'(fr) for taxon with ID: 9 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'Newts'(en) for taxon with ID: 10 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'Salamanders'(en) for taxon with ID: 10 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'newt'(en) for taxon with ID: 10 (source: The Paleobiology Database)
Now saving 'Alpenwatersalamander'(nl) for taxon with ID: 12 (source: Checklist Dutch Species Register - Nederlands Soortenregister)
Now saving 'Alpine newt'(en) for taxon with ID: 13 (source: EUNIS Biodiversity Database)
Now saving 'Triton alpestre'(fr) for taxon with ID: 13 (source: EUNIS Biodiversity Database)
Now saving 'alpenwatersalamander'(nl) for taxon with ID: 13 (source: Belgian Species List)
Now saving 'alpine newt'(en) for taxon with ID: 13 (source: Belgian Species List)
Now saving 'triton alpestre'(fr) for taxon with ID: 13 (source: Belgian Species List)
Now saving 'planten'(nl) for taxon with ID: 14 (source: Belgian Species List)
Now saving 'plantes'(fr) for taxon with ID: 14 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'plants'(en) for taxon with ID: 14 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'planten'(nl) for taxon with ID: 14 (source: World Register of Marine Species)
Now saving 'planten'(nl) for taxon with ID: 14 (source: World Register of Introduced Marine Species (WRiMS))
Now saving 'plants'(en) for taxon with ID: 14 (source: World Register of Introduced Marine Species (WRiMS))
Now saving 'plants'(en) for taxon with ID: 14 (source: World Register of Marine Species)
Now saving 'tracheophytes'(en) for taxon with ID: 15 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'vaatplanten'(nl) for taxon with ID: 15 (source: Belgian Species List)
Now saving 'vascular plants'(en) for taxon with ID: 15 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'vaatplanten'(nl) for taxon with ID: 15 (source: World Register of Marine Species)
Now saving 'vaatplanten'(nl) for taxon with ID: 15 (source: World Register of Introduced Marine Species (WRiMS))
Now saving 'vascular plants'(en) for taxon with ID: 15 (source: World Register of Marine Species)
Now saving 'vascular plants'(en) for taxon with ID: 15 (source: World Register of Introduced Marine Species (WRiMS))
Now saving 'buckwheat'(en) for taxon with ID: 18 (source: Integrated Taxonomic Information System (ITIS))

Now saving 'duizendknoopfamilie'(nl) for taxon with ID: 18 (source: Belgian Species List)
Now saving 'knotweed'(en) for taxon with ID: 18 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'renouées'(fr) for taxon with ID: 18 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'Polygonacées'(fr) for taxon with ID: 18 (source: Database of Vascular Plants of Canada (VASCAN))
Now saving 'buckwheat family'(en) for taxon with ID: 18 (source: Database of Vascular Plants of Canada (VASCAN))
Now saving 'duizendknoopfamilie'(nl) for taxon with ID: 18 (source: World Register of Marine Species)
Now saving 'knotweed'(en) for taxon with ID: 19 (source: GRIN Taxonomy)
Now saving 'Japanese knotweed'(en) for taxon with ID: 20 (source: GRIN Taxonomy)
Now saving 'Mexican-bamboo'(en) for taxon with ID: 20 (source: GRIN Taxonomy)
Now saving 'Japanese knotweed'(en) for taxon with ID: 20 (source: Database of Vascular Plants of Canada (VASCAN))
Now saving 'renouée du Japon'(fr) for taxon with ID: 20 (source: Database of Vascular Plants of Canada (VASCAN))
Now saving 'Mexican bamboo'(en) for taxon with ID: 20 (source: Database of Vascular Plants of Canada (VASCAN))
Now saving 'fleeceflower'(en) for taxon with ID: 20 (source: Database of Vascular Plants of Canada (VASCAN))
Now saving 'Japanese knotweed'(en) for taxon with ID: 21 (source: Invasive Alien Species in Belgium - HARMONIA database)
Now saving 'Japanese knotweed'(en) for taxon with ID: 21 (source: Integrated Taxonomic Information System (ITIS))
Now saving 'Japanese knotweed'(en) for taxon with ID: 21 (source: DAISIE - Inventory of alien invasive species in Europe)
Now saving 'Japanse duizendknoop'(nl) for taxon with ID: 21 (source: DAISIE - Inventory of alien invasive species in Europe)
Now saving 'Japanse duizendknoop'(nl) for taxon with ID: 21 (source: Invasive Alien Species in Belgium - HARMONIA database)
Now saving 'Renouée du Japon'(fr) for taxon with ID: 21 (source: DAISIE - Inventory of alien invasive species in Europe)
Now saving 'Renouée du japon'(fr) for taxon with ID: 21 (source: Invasive Alien Species in Belgium - HARMONIA database)
Now saving 'japanese bindweed'(en) for taxon with ID: 21 (source: Belgian Species List)
Now saving 'japanse duizendknoop'(nl) for taxon with ID: 21 (source: Belgian Species List)
Now saving 'renouée du japon'(fr) for taxon with ID: 21 (source: Belgian Species List)
Now saving 'Japanse duizendknoop'(nl) for taxon with ID: 21 (source: Checklist Dutch Species Register - Nederlands Soortenregister)
Now saving 'Japanese knotweed'(en) for taxon with ID: 21 (source: World Register of Marine Species)
Done loading 108 (for 21 taxa) vernacular names in 27s.

Show table `vernacularnames` and `vernacularnamesource`:

In [214]:
%sql SELECT * FROM biodiv.vernacularname

 * postgresql://postgres:***@localhost:5433/postgres
108 rows affected.

[(1, 1, 'en', 'Animals', 1),
 (2, 1, 'en', 'animals', 2),
 (3, 1, 'fr', 'animaux', 2),
 (4, 1, 'nl', 'dieren', 4),
 (5, 1, 'en', 'animals', 5),
 (6, 1, 'en', 'animals', 6),
 (7, 1, 'fr', 'animaux', 5),
 (8, 1, 'fr', 'animaux', 6),
 (9, 1, 'nl', 'dieren', 6),
 (10, 1, 'nl', 'dieren', 5),
 (11, 2, 'en', 'Arthropods', 1),
 (12, 2, 'en', 'arthropod', 12),
 (13, 2, 'fr', 'arthropodes', 2),
 (14, 2, 'en', 'arthropods', 2),
 (15, 2, 'nl', 'geleedpotigen', 4),
 (16, 2, 'en', 'arthropods', 5),
 (17, 2, 'en', 'arthropods', 6),
 (18, 2, 'nl', 'geleedpotigen', 5),
 (19, 2, 'nl', 'geleedpotigen', 6),
 (20, 3, 'en', 'Insects', 1),
 (21, 3, 'en', 'insect', 12),
 (22, 3, 'en', 'insect', 12),
 (23, 3, 'nl', 'insecten', 4),
 (24, 3, 'fr', 'insectes', 2),
 (25, 3, 'en', 'insects', 2),
 (26, 3, 'nl', 'insecten', 5),
 (27, 3, 'nl', 'insecten', 6),
 (28, 3, 'fr', 'insectes', 5),
 (29, 3, 'fr', 'insectes', 6),
 (30, 3, 'en', 'insects', 6),
 (31, 3, 'en', 'insects', 5),
 (32, 4, 'en', 'fly', 12),
 (33, 4, 'en', 'gnats', 2),
 (34, 4, 'en', 'mosquitoes', 2),
 (35, 4, 'en', 'true flies', 2),
 (36, 4, 'nl', 'vliegen en muggen', 4),
 (37, 4, 'fr', 'diptères', 5),
 (38, 4, 'fr', 'diptères', 6),
 (39, 4, 'nl', 'tweevleugeligen', 6),
 (40, 4, 'nl', 'tweevleugeligen', 5),
 (41, 4, 'en', 'two-winged flies', 5),
 (42, 4, 'en', 'two-winged flies', 6),
 (43, 5, 'en', 'crane fly', 12),
 (44, 5, 'nl', 'langpootmuggen', 4),
 (45, 5, 'fr', 'tipules', 2),
 (46, 5, 'en', 'crane-flies', 6),
 (47, 5, 'nl', 'langpootmuggen', 6),
 (48, 7, 'en', 'chordates', 2),
 (49, 7, 'fr', 'cordés', 2),
 (50, 7, 'nl', 'chordadieren', 6),
 (51, 7, 'nl', 'chordadieren', 5),
 (52, 8, 'en', 'Amphibians', 2),
 (53, 8, 'nl', 'amfibieën', 4),
 (54, 8, 'fr', 'amphibiens', 2),
 (55, 8, 'en', 'amphibians', 6),
 (56, 9, 'en', 'Salamanders', 2),
 (57, 9, 'en', 'salamander', 12),
 (58, 9, 'en', 'salamander', 12),
 (59, 9, 'fr', 'salamandres', 2),
 (60, 10, 'en', 'Newts', 2),
 (61, 10, 'en', 'Salamanders', 2),
 (62, 10, 'en', 'newt', 12),
 (63, 12, 'nl', 'Alpenwatersalamander', 63),
 (64, 13, 'en', 'Alpine newt', 64),
 (65, 13, 'fr', 'Triton alpestre', 64),
 (66, 13, 'nl', 'alpenwatersalamander', 4),
 (67, 13, 'en', 'alpine newt', 4),
 (68, 13, 'fr', 'triton alpestre', 4),
 (69, 14, 'nl', 'planten', 4),
 (70, 14, 'fr', 'plantes', 2),
 (71, 14, 'en', 'plants', 2),
 (72, 14, 'nl', 'planten', 6),
 (73, 14, 'nl', 'planten', 5),
 (74, 14, 'en', 'plants', 5),
 (75, 14, 'en', 'plants', 6),
 (76, 15, 'en', 'tracheophytes', 2),
 (77, 15, 'nl', 'vaatplanten', 4),
 (78, 15, 'en', 'vascular plants', 2),
 (79, 15, 'nl', 'vaatplanten', 6),
 (80, 15, 'nl', 'vaatplanten', 5),
 (81, 15, 'en', 'vascular plants', 6),
 (82, 15, 'en', 'vascular plants', 5),
 (83, 18, 'en', 'buckwheat', 2),
 (84, 18, 'nl', 'duizendknoopfamilie', 4),
 (85, 18, 'en', 'knotweed', 2),
 (86, 18, 'fr', 'renouées', 2),
 (87, 18, 'fr', 'Polygonacées', 87),
 (88, 18, 'en', 'buckwheat family', 87),
 (89, 18, 'nl', 'duizendknoopfamilie', 6),
 (90, 19, 'en', 'knotweed', 90),
 (91, 20, 'en', 'Japanese knotweed', 90),
 (92, 20, 'en', 'Mexican-bamboo', 90),
 (93, 20, 'en', 'Japanese knotweed', 87),
 (94, 20, 'fr', 'renouée du Japon', 87),
 (95, 20, 'en', 'Mexican bamboo', 87),
 (96, 20, 'en', 'fleeceflower', 87),
 (97, 21, 'en', 'Japanese knotweed', 97),
 (98, 21, 'en', 'Japanese knotweed', 2),
 (99, 21, 'en', 'Japanese knotweed', 99),
 (100, 21, 'nl', 'Japanse duizendknoop', 99),
 (101, 21, 'nl', 'Japanse duizendknoop', 97),
 (102, 21, 'fr', 'Renouée du Japon', 99),
 (103, 21, 'fr', 'Renouée du japon', 97),
 (104, 21, 'en', 'japanese bindweed', 4),
 (105, 21, 'nl', 'japanse duizendknoop', 4),
 (106, 21, 'fr', 'renouée du japon', 4),
 (107, 21, 'nl', 'Japanse duizendknoop', 63),
 (108, 21, 'en', 'Japanese knotweed', 6)]

In [215]:
%sql SELECT * FROM biodiv.vernacularnamesource

 * postgresql://postgres:***@localhost:5433/postgres
12 rows affected.

[(1, '71667154-257d-4d8e-a2a5-711aaf9b2d74', 'Phthiraptera.info'),
 (2, '9ca92552-f23a-41a8-a140-01abaa31c931', 'Integrated Taxonomic Information System (ITIS)'),
 (4, '39653f3e-8d6b-4a94-a202-859359c164c5', 'Belgian Species List'),
 (5, '0a2eaf0c-5504-4f48-a47f-c94229029dc8', 'World Register of Introduced Marine Species (WRiMS)'),
 (6, '2d59e5db-57ad-41ff-97d6-11f5fb264527', 'World Register of Marine Species'),
 (12, 'c33ce2f2-c3cc-43a5-a380-fe4526d63650', 'The Paleobiology Database'),
 (63, '4dd32523-a3a3-43b7-84df-4cda02f15cf7', 'Checklist Dutch Species Register - Nederlands Soortenregister'),
 (64, '1bd42c2b-b58a-4a01-816b-bec8c8977927', 'EUNIS Biodiversity Database'),
 (87, '3f8a1297-3259-4700-91fc-acc4170b27ce', 'Database of Vascular Plants of Canada (VASCAN)'),
 (90, '66dd0960-2d7d-46ee-a491-87b9adcfe7b1', 'GRIN Taxonomy'),
 (97, 'e4746398-f7c4-47a1-a474-ae80a4f18e92', 'Invasive Alien Species in Belgium - HARMONIA database'),
 (99, '39f36f10-559b-427f-8c86-2d28afff68ca', 'DAISIE - Inventory of alien invasive species in Europe')]

As for the previous step, we recommend to update these tables using the `empty_only=True` parameter in `populate_vernacular_names()` every time new names are added or improved.

## Add exotic status of taxa in `taxonomy`

The exotic status (`True` or `False`) for all taxa in `taxonomy` is filled by consulting the GBIF checklist
[_Global Register of Introduced and Invasive Species - Belgium_](https://www.gbif.org/dataset/6d9e952f-948c-4483-9807-575348147c7e):

In [216]:
message = "Step 7: populate field exotic_be (values: True of False) from GRIIS checklist for each entry in " \
          "taxonomy table "
print(message)
logging.info(message)
exotic_status.populate_is_exotic_be_field(conn, config_parser=config, exotic_status_source=GRIIS_DATASET_UUID)

Step 7: populate field exotic_be (values: True of False) from GRIIS checklist for each entry in taxonomy table
We'll now retrieve the GBIF checklist containing the exotic taxa in Belgium, datasetKey: 6d9e952f-948c-4483-9807-575348147c7e.
Retrieved 2891 exotic taxa in 35s.
We'll now update exotic_be field for 21 taxa of the taxonomy table.
Taxon Reynoutria japonica Houtt. (gbifId: 2889173) is exotic in Belgium.
    Taxon Fallopia japonica (Houtt.) Ronse Decraene (gbifId: 5334357) is exotic in Belgium.
2 exotic taxa found in taxonomy.
Field exotic_be updated for 21 taxa in taxonomy in 0.04s.

Exotic taxa:

In [217]:
%sql SELECT * FROM biodiv.taxonomy WHERE exotic_be IS TRUE

 * postgresql://postgres:***@localhost:5433/postgres
2 rows affected.

[(20, 2889173, 'Reynoutria japonica Houtt.', 7, None, 19, True),
 (21, 5334357, 'Fallopia japonica (Houtt.) Ronse Decraene', 7, 20, 19, True)]

This step should be repeated everytime the `taxonomy` table changes.